<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope='col'>ID</th>
            <th scope='col'>Secretaria</th>
            <th scope='col'>Servico</th>
            <th scope='col'>Descrição</th>
            <th scope='col'>Etapas</th>
            <th scope='col'>Palavras Chave</th>
            <th scope='col'>Requisitos</th>
            <th scope='col'>Link</th>
            <th scope='col'>Horário</th>
            <th scope='col'>Area Responsavel</th>
            <th scope='col'>Endereco</th>
            <th scope='col'></th>
          </tr>
        </thead>
        <tbody>
          <% docs.forEach(function(details) { %>
          <tr>
            <td><%= details._id %></td>
            <td><%= details.secretaria %></td>
            <td><%= details.servico %></td>
            <td><%= details.descricao %></td>
            <td><%= details.etapas %></td>
            <td><%= details.palavras_chave %></td>
            <td><%= details.requisitos %></td>
            <td><%= details.link %></td>
            <td><%= details.horario %></td>
            <td><%= details.area_responsavel %></td>
            <td><%= details.endereco %></td>
            <td>
              <a href="/edit/<%=details._id%>">Editar</a>
              <a href="/delete/<%=details._id%>">Deletar</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>